# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
env/
.venv/
.env/

# Environment variable files
.env
*.env

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# pytest
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# VSCode
.vscode/

# PyCharm
.idea/

# Jupyter Notebooks
*.ipynb_checkpoints

# Uvicorn logs
*.log

# macOS
.DS_Store

# Docker
*.pid
*.pid.lock

# Local test data
*.sqlite3
*.db

# __init__.py backups
init_backup.py

yolov8x-world.pt